@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
	--base-color: #00cdc8;
	--primary-color: #011918;
	--danger-color: #e56f6f;
	--white-color: #fff;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}
.loader__container {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--white-color);
	position: relative;
	z-index: 999;
	text-align: center;
}
.loader__container h2 {
	margin: 30px 0 10px;
	color: var(--primary-color);
}
.loader__container img {
	width: 250px;
}

/* success loader start */
.icon__container #card {
	width: 350px !important;
	height: 220px !important;
}

.loading {
	width: 124px;
	height: 124px;
	display: block;
	margin: 0 auto;
}

.loading svg {
	display: block;
	width: 100%;
	height: 100%;
}

.circle {
	transform: rotate(-90deg);
	transform-origin: center;
	stroke-dasharray: 380;
	stroke-dashoffset: 380;
	animation: circle_4 2s ease-in-out forwards;
}

.check {
	stroke-dasharray: 45;
	stroke-dashoffset: 45;
	animation: check_4 0.2s 2s ease-in-out forwards;
}

@keyframes circle_4 {
	0% {
		stroke-dashoffset: 380;
	}

	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes check_4 {
	0% {
		stroke-dashoffset: 45;
	}

	100% {
		stroke-dashoffset: 90;
	}
}
/* success loader End */

/* Error Message start */
.error h2 {
	color: var(--danger-color);
}
#error {
	width: 130px;
	height: 130px;
}
#circle {
	stroke-dasharray: 500;
}
#error line {
	stroke: var(--danger-color);
	stroke-width: 6;
	transition: all 1s;
}

#error #circle {
	stroke: var(--danger-color);
	stroke-width: 6;
	transform-origin: 50px 50px 0;
	transition: all 1s;
	animation: spin 2s linear infinite; /* Adding animation for spinning */
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
		stroke-dashoffset: 66;
	}
	50% {
		transform: rotate(540deg);
		stroke-dashoffset: 314;
	}
	100% {
		transform: rotate(1080deg);
		stroke-dashoffset: 66;
	}
}
/* Error Message end */

.btn {
	padding: 20px;
	display: inline-block;
	border: 2px solid var(--base-color);
	border-radius: 25px;
	text-decoration: none;
	margin-top: 10px;
	color: var(--base-color);
}
